
<div class="about">

    <img src="~/images/about.png" alt="about" width="250" height="190">

    <h1> <strong>A CERCA DE SOFTWARE SOLUTION COMPANY </strong></h1>


    <p style="font-size:20px;" class="parrafo-about">
        Software Solution Company, es un sistema de gestión de inventarios IT, el cual es  un  proyecto de grado
        del técnico en Análisis y Desarrollo de Sistemas de Gestión , del grupo conformado por 4 estudiantes del
        SENA sede Colombia. Este sistema de gestión surge a partir de la necesidad que se evidencia en el manejo de
        inventarios de esta sede, ya que actualmente el proceso se hace con tablas excel y manualmente, habiendo
        lugar a la pérdida y mal manejo de la información sobre los activos.
        Con SSC, se espera que se mitiguen estos inconvenientes, y haya efectividad y celeridad en el manejo de esta información,
        ya que el aplicativo cuenta con herramientas como base de datos desde el gestor SQL SERVER, y adicionalmente se hace
        uso del IDE visual studio , enfocado en su framework .net , usando las herramientas disponibles para el desarrollo
        de aplicaciones para la web.
    </p>

</div>