<div class="contact">

    <h1 class="titulo"> <strong>INFORMACIÓN DE CONTACTO</strong></h1>

    <address>
        Sena sede Colombia<br />
        Calle 69 no 20-36<br />
        <abbr title="Phone">Teléfono:</abbr>
        3175954140
    </address>

    <address>
        <strong>Soporte técnico:</strong> <a href="mailto:zytamayo@misena.edu.co">zytamayo@misena.edu.co</a><br />
        <strong>Venta Software:</strong> <a href="mailto:gdcifuentes47@misena.edu.co ">gdcifuentes47@misena.edu.co </a>
    </address>

</div>